<h2>Add Student</h2>
<div id="errors">

</div>
<%= form_for(student, remote: true, id: "student_form") do |form| %>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, id: :student_name, class: "form-control" %>
  <span id="nameError"></span>
</div>

<div class="form-group">
  <%= form.label :email %>
  <%= form.text_field :email, id: :student_email, class: "form-control" %>
  <span id="emailError"></span>
</div>

<div class="form-group">
  <%= form.label :major %>
  <%= form.text_field :major, id: :student_major, class: "form-control" %>
  <span id="majorError"></span>
</div>

<div class="form-group">
  <%= form.label :dob %>
  <%= form.date_field :dob, id: :student_dob, class: "form-control" %>
  <span id="dobError"></span>
</div>

<div class="form-group">
  <%= form.label :city_id %>
  <%= form.collection_select :city_id, City.all, :id, :name, {prompt: "Select City"}, {class: "form-control"} %> or
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addCity">
  Add City
  </button>
</div>
<h3>Select Courses</h3>
<%= form.collection_select :course_ids, Course.all, :id, :name, {}, {multiple: true, id: "student_course_ids"}%><br/>
<div class="actions">
  <%= form.submit "Submit", class: "btn btn-primary", id: "submit" %> or
  <a href="#", id="reset"> reset</a>
</div>
<% end %>

<!-- Modal -->
  <div class="modal fade" id="addCity" tabindex="-1" role="dialog" aria-labelledby="addCityLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCityLabel">Add City</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render '/cities/form', city: @city %>
        </div>
      </div>
    </div>
</div>
<script>
$('#student_city_id').chosen();
$('#student_course_ids').chosen();
  nameHandle = document.getElementById('student_name');
  emailHandle = document.getElementById('student_email');
  majorHandle = document.getElementById('student_major');
  formHandle = document.getElementById('student_form');
  submitHandle = document.getElementById('submit');

  nameErrorHandle = document.getElementById('nameError');
  emailErrorHandle = document.getElementById('emailError');
  majorErrorHandle = document.getElementById('majorError');
  checkErrorHandle = document.getElementById('checkError');

  document.querySelector('#reset').addEventListener('click', function(e){
    e.preventDefault();
    formHandle.reset();
    nameErrorHandle.innerHTML = "";
    emailErrorHandle.innerHTML = "";
    majorErrorHandle.innerHTML = "";
  }, false)
  
</script>
