<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <h2>Listing Instructors</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> # </th>
          <th>Name</th>
          <th>Email</th>
          <!-- <th>Bio</th>
          <th> Courses </th>
          <th> Actions </th> -->
        </tr>
      </thead>

      <tbody>
        <% @instructors.each_with_index do |instructor, index| %>
          <tr id=<%= instructor.id %> class="instructors">
            <td><%= index + 1 %></td>
            <td><%= link_to instructor.name, instructor, remote: true %></td>
            <td><%= instructor.email %></td>
            <!-- <td><%= instructor.bio %></td>
            <td>
              <%# if instructor.courses.empty? %>
                <p> N/A</p>
              <% #else %>
                <% #instructor.courses.each do |course| %>
                  <%#= course.name %><br/>
                <% #end %>
              <% #end %>
            </td>
            <td><%#= link_to 'Edit', edit_instructor_path(instructor) %></td>
            <td><%#= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Add Instructor</h3>
    <%= render 'form', instructor: @instructor %>
  </div>
</div>

<%#= link_to 'New Instructor', new_instructor_path %>
<% data = {}
  @instructors.each do |instructor|
    total = 0
    instructor.courses.each do |course|
      total += course.students.count
    end
    data[instructor.name] = total
end
  %>
  <div class="row">
    <div class="col-md-7">
      <%= bar_chart(data) %>
    </div>
    <div class="col-md-5">
      <%= pie_chart(data) %>
    </div>
  </div>
  
 <!-- Modal -->
  <div class="modal fade" id="instructorShow" tabindex="-1" role="dialog" aria-labelledby="addCityLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCityLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
      </div>
    </div>
</div>  