<% if notice %>
	<div class="alert alert-success">
		<%= notice %>
	</div>
<script>
    $.growl.notice({ message: "instructor created sucessfully!" });
</script>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to @instructor.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @instructor.bio %>
</p>
<h3>Courses Taught</h3>
<% if @instructor.courses.empty? %>
	<p>Not yet any courses assigned</p>
<% else %>
	<ul>
	<% @instructor.courses.each do |course| %>
		<li><%= link_to course.name, course %> -
			<%if course.registrations.pluck(:course_id).empty? %>
			 	<p> 0 Enrollments </p>
			<% else %>
				<%= course.registrations.pluck(:course_id).size %> students enrolled
			<% end %></li>
	<% end %>
	</ul>
<% end %>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
