<div class="col-md-4", style="padding-bottom: 15px">
      <div class="card">
        <img class="card-img-top" src="http://placeimg.com/286/180/any?t=1519715668565" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= @course.name %></h5>
          <p class="card-text"><%= @course.description.truncate(100)%><%= link_to "view more", @course %></p>
          <%= link_to "Enroll", new_student_path, class: "btn btn-primary" %>
        </div>
         <div class="card-footer">
            <small class="text-muted"><%= @course.students.count %> students have already taken course</small>
          </div>
      </div>
</div>